@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --transition: .4s ease;
    --main-yellow: #FFC107;
    --main-yellow-20: #FFC107bb;
    --main-green: #00BFA6;
    --text-color-light: #e2e2e2;
    --link-hover: #f5deb3;
    --text-color-dark: #222222;
    --sectionHeader-bg: #bbbbbb99;
    --main-bg: #222;
    --main-bg-lighter: #555;
    --white: #fff;
    --white-variant: #eee;
    --black: #000;

    --shadow: #555555aa;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    user-select: none;
    text-decoration: none;
}



li {
    list-style: none;
}

main {
    margin-top: -7rem;
}

body {
    background: var(--main-bg);
    color: var(--text-color-light);
    font-family: 'Ubuntu', sans-serif;
    min-width: 300px;
}


section {
    width: 100%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionHeader {
    background: var(--sectionHeader-bg);
    color: var(--text-color-dark);
    width: 100%;
    height: 7rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.btn {
    background: var(--main-green);
    color: var(--text-color-dark);
    font-size: 1.3rem;
    font-weight: 500;
    padding: .7rem 1.3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--black);
    cursor: pointer;
    transition: .3s ease;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn:hover {
    background: var(--main-yellow);
    color: var(--text-color-dark);
}

.btn:active {
    transform: scale(.9);
}








/*  nav  */
.nav {
    background: var(--main-green);
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    position: sticky;
    top: 0;
    margin-top: 2rem;
    height: 4rem;
    box-shadow: 0 4px 7px var(--shadow);
}

.navList-left,
.navList-right {
    display: flex;
    gap: 2rem;
}

.navLink {
    font-size: 1.4rem;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    transition: .3s ease;
    color: var(--text-color-dark);
    user-select: none;
    position: relative;
}

.active.navLink::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 10px;
    height: 3px;
    width: 40%;
    background-color: var(--text-color-dark);
}

.navLink:hover {
    background: var(--link-hover);
    color: var(--text-color-dark);
}



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 4rem;

}

.menu {
    display: none;
}




/*  home section */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.home h1 {
    font-size: 8rem;
}

.home p {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.home h3 {
    font-size: 2rem;
    font-family: 'Protest Riot', sans-serif;
    color: var(--main-yellow);
}

.homeBtn {
    margin-top: 4rem;
}


/*  about section */


.aboutContainer {
    width: 100%;
    margin: 3rem 3rem 7rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.aboutContent {
    width: 50%;
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: start;
}

.aboutContent h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.aboutContent p {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    line-height: 2rem;
}

.aboutImg {
    width: 30rem;
    padding: 3rem;
}



/*  skills section */
.skills {
    width: 100%;
    text-align: center;
    padding: 4rem 0 1rem;
}

.skillsContainer {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    gap: 2rem;
}

.skillIcon {
    width: 6rem;
    margin: 0 1rem;
    background: var(--main-yellow-20);
    padding: 1rem;
    border: 4px solid var(--text-color-light);
    border-radius: 5px;
    box-shadow: 4px 4px 10px #000;
}




/* ----------------  portfolio section  - Flex-box practice --------------------*/

.cardContainer {
    background: var(--main-green);
    max-width: 1400px;
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem 10rem;
    border-radius: 5px;
}

.card {
    width: 18rem;
    background: var(--main-bg);
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--text-color-light);
    border: 2px solid var(--text-color-light);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 10px var(--text-color-dark);
}


.card img {
    background: var(--main-bg-lighter);
    width: 100%;
    min-height: 15rem;
    padding: 2rem;
    border-bottom: 2px solid var(--text-color-light);
}

.buttonGroup {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.contentWrapper {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}






/* --------  gallery section  -----------*/
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gridWrapper {
    padding: 4rem;
    max-width: 1400px;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}






/* ---------------- contact section  -------------------------*/
.contactContainer {
    width: 65%;
    padding: 2rem;
    background: var(--main-bg-lighter);
    margin: 3rem;
border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

.input,
.textarea {
    background: var(--white-variant);
    color: var(--text-color-dark);
    width: 50%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin-top: .5rem;
}

.input:focus,
.textarea:focus {
    outline: none;
}

.textarea {
    height: 250px;
    width: 50%;
}


/*  footer */
.footer {
    background: var(--main-green);
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--text-color-dark);
    font-size: 1rem;
    border-top: 2px solid var(--main-yellow);
}
.footerContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
.socialIcons  {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
    cursor: pointer;
}
.socialIcons i, .footerInfo a{
    color: var(--text-color-dark);
    transition:  all .4s;
}
.socialIcons i:hover , .footerInfo a:hover{
    color: var(--main-yellow);
    transform: scale(1.2);
}
.footerInfo {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.4rem;
    color: var(--text-color-dark);
}

/*  pageUp icon */
.pageUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg);
    padding: .75rem;
    border-radius: 50%;
    border: 2px solid var(--main-yellow);
}


.pageUp i {
    font-size: 1.8rem;
    color: var(--main-yellow);
}






/*  media queries */
@media screen and (max-width: 1040px) {
    .aboutImg {
        padding: 0 3rem;
    }

    .aboutContent p {
        font-size: 1rem;
    }

    .cardContainer {
        padding: 2rem;
    }

    .input,
    .textarea {
        width: 90%;
    }
}

@media screen and (max-width: 938px) {
    .nav {
        margin-top: 0;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .navList-left,
    .navList-right {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 235px;
        width: 100%;
        align-items: center;
        justify-content: center;
        background: var(--main-green);
        transform: translateX(-100%);
        padding-top: 2rem;
        gap: 2rem;
    }

    .navList-right {
        top: 234px;
        padding-top: 0;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--text-color-light);
        cursor: pointer;
        background: var(--main-bg-lighter);
        padding: .4rem;
        border: 2px solid var(--white-variant);
        border-radius: 5px;
        user-select: none;
        height: 3rem;
        width: 3rem;
        transition: var(--transition);
        z-index: 100;
    }

    .active.navLink::after {
        bottom: 0;
    }

    .menu:hover {
        color: var(--main-yellow);
        border-color: var(--main-yellow);
    }

    .active {
        transform: translateX(0);
    }

    .aboutContainer {
        flex-direction: column-reverse;
    }

    .aboutContent {
        width: 100%;
    }

    .cardContainer {
        padding: 2rem;
    }

    .gridWrapper {
        grid-template-columns: 1fr 1fr ;
    }

}

@media screen and (max-width: 788px) {
    .home h1 {
        font-size: 5rem;
    }

    .home h3 {
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    .aboutImg {
        width: 60%;
    }

    .aboutContainer {
        margin: 3rem;
    }

    .cardContainer {
        margin: 3rem 0;
        gap: 1rem;
        border-radius: 0;
    }

    .gridWrapper {
        padding: 1rem;
    }
    .footerInfo {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
        white-space: nowrap;
    }
}

@media screen and (max-width: 560px) {
    .img {
        width: 80%;
    }

    .about h3 {
        font-size: 2rem;
    }

    .aboutContent {
        padding: 3rem 1rem;
    }

    .aboutImg {
        width: 80%;
    }

    .skillIcon {
        width: 5rem;
    }

    .cardContainer {
        padding: 2rem 0;
    }

    .gridWrapper {
        grid-template-columns: 1fr;
    }

    .contactContainer {
        margin: 3rem 0;
        width: 100%;
        border-radius: 0;
    }

    .skillsContainer {
        gap: 1rem;
    }
}